<link rel="stylesheet" type="text/css" href="style.css">

<form class="horizontal" action="add_fakultas.php" method="post">
	<div class="control-group">
		<label class="control-label" for="fakultas">Fakultas</label>
		<div class="control">
			<input type="text" id='fakultas' placeholder="Nama Fakultas" name="fakultas">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" ></label>
		<div class="control">
			<button>Submit</button>
		</div>
	</div>
</form>